@using RPZSZ.DTO
@model RPZSZ.AdminWeb.Models.HouseAddGetModel
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/lib/html5.js"></script>
    <script type="text/javascript" src="~/lib/respond.min.js"></script>
    <script type="text/javascript" src="~/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="~/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="~/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>新建房源</title>
</head>
<body>
    <div class="pd-20">
        <form action="" method="" class="form form-horizontal" id="formHouseAdd">
            <input type="hidden" id="roomTypeId" name="roomTypeId" value="@Model.RoomTypeId"/>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>区域：</label>
                <div class="formControls col-2">
                    @*<input type="text" class="input-text" value="" placeholder="" id="phoneNum" name="phoneNum" datatype="*4-16" nullmsg="手机号不能为空">*@
                    @Html.DropDownList("RegionId", new SelectList(Model.Regions, nameof(RegionDTO.Id), nameof(RegionDTO.Name)))
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>小区：</label>
                <div class="formControls col-2">
                    <select name="CommunityId" id="CommunityId"></select>
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>房型：</label>
                <div class="formControls col-2">
                    @Html.DropDownList("TypeId", new SelectList(Model.Types, nameof(IdNameDTO.Id), nameof(IdNameDTO.Name)))
                </div>

            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>地址：</label>
                <div class="formControls col-6">
                    <input type="text" class="input-text" value="" placeholder="" id="Address" name="Address" datatype="*4-16" nullmsg="地址不能为空">
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>月租金：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text" value="" placeholder="" id="MonthRent" name="MonthRent" datatype="*4-16" nullmsg="租金不能为空">元
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>状态：</label>
                <div class="formControls col-2">
                    @Html.DropDownList("StatusId", new SelectList(Model.Status, nameof(IdNameDTO.Id), nameof(IdNameDTO.Name)))
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>面积：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text" value="" placeholder="" id="Area" name="Area" datatype="*4-16" nullmsg="面积不能为空">平米
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>装修：</label>
                <div class="formControls col-2">
                    @Html.DropDownList("DecorateStatusId", new SelectList(Model.DecorateStatus, nameof(IdNameDTO.Id), nameof(IdNameDTO.Name)))
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>楼层：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text" value="" placeholder="层数" id="FloorIndex" name="FloorIndex" datatype="*4-16" nullmsg="层数不能为空">
                    <input type="text" class="input-text" value="" placeholder="总层" id="TotalFloorCount" name="TotalFloorCount" datatype="*4-16" nullmsg="总层不能为空">
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>朝向：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text" value="" placeholder="" id="Direction" name="Direction" datatype="*4-16" nullmsg="朝向不能为空">
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>可看房时间：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="lookableDateTime" name="lookableDateTime" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>入住时间：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="CheckInDateTime" name="CheckInDateTime" />
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>业主姓名：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text" value="" placeholder="" id="OwnerName" name="OwnerName" datatype="*4-16" nullmsg="业主姓名不能为空">
                </div>
                <label class="form-label col-2"><span class="c-red">*</span>业主电话：</label>
                <div class="formControls col-2">
                    <input type="text" class="input-text" value="" placeholder="" id="ownerPhoneNum" name="ownerPhoneNum" datatype="*4-16" nullmsg="业主电话不能为空">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>房屋描述：</label>
                <div class="formControls col-10">
                    <textarea id="description" name="description" cols="100" rows="10"></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>配置设施：</label>
                @foreach (var att in Model.Attachments)
                {
                    <div class="formControls col-2">
                        <input type="checkbox" id="attachmentIds_@att.Id" name="attachmentIds" value="@att.Id" />
                        <label for="attachmentIds_@att.Id">@att.Name</label>
                    </div>
                }
            </div>
            <div class="row cl">
                <div class="col-10 col-offset-2">
                    <button type="button" class="btn btn-success radius" id="houseAddButton" name="houseAddButton"><i class="icon-ok"></i> 确定</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="~/lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/js/H-ui.js"></script>
    <script type="text/javascript" src="~/js/H-ui.admin.js"></script>
    <script>
    $(function () {
        
            $('#houseAddButton').on('click', function () {
                var formData = $("#formHouseAdd").serializeArray();
                $.ajax({
                    url: "/House/Add",
                    type: "post",
                    datatype: "json",
                    data: formData,
                    success: function (respData) {
                        if (respData.status == "ok") {
                            //layer.msg('新增成功', { icon: 1, time: 1000 });
                            parent.location.reload();
                        }
                        else {
                            layer.msg('新增失败', { icon: 2, time: 1000 });
                        }
                    },
                    error: function () {
                        layer.msg('通信失败!', { icon: 2, time: 1000 });
                    }
                });
            });
        $("#RegionId").change(function () {
            var regionId = $("#RegionId").val();
            $.ajax({
                url: "/Community/GetCommunityByRegionId",
                type: "post",
                datatype: "json",
                data: { "regionId": regionId },
                success: function (respData) {
                    if (respData.status == "ok") {
                        var dataResult = respData.data;
                        $("#CommunityId").empty();
                        if (dataResult != null && dataResult.length > 0) {
                            for (var i = 0; i < dataResult.length; i++) {
                                var item = $("<option value=" + dataResult[i].id + ">" + dataResult[i].name + "</option>");
                                $("#CommunityId").append(item);
                            }
                        }
                    }
                },
                error: function () {
                    alert("通过regionid获取区域通信失败")
                }
            });
        });

        $("#RegionId").change();
    });
    </script>
</body>
</html>